<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentacion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="../index.css">
</head>

<body>
    <div class="main">
        <h1 class="title text-center mt-4 mdark">Conservación del patrimonio natural y cultural</h1>
        <div class=" d-flex justify-content-center">
            <div class="d-flex flex-column content mt-4  mdark">
            <p class="text-content container d-flex justify-content-center">
                La conservación del patrimonio natural y cultural están estrechamente relacionadas. Los sitios culturales a menudo tienen una conexión importante con el medio ambiente circundante y pueden verse afectados por cambios ambientales, como la erosión y la subida del nivel del mar. La protección del patrimonio natural, como la conservación de áreas naturales, puede ayudar a proteger los sitios culturales y su entorno. Además, el uso sostenible de los recursos culturales y naturales puede contribuir al desarrollo sostenible de las comunidades locales.
            </p>
            <img class="content-img" src="../pictures/9.jpg">
        </div>
    </div>

    <a href="8.html" class="left"></a>
    <a href="10.html" class="right"></a>
    </div>
</body>

</html>